.DS_Store
**/build
**/bin
**/gen
**/local.properties
**/.idea
**/*.iml
**/.gradle
**/captures
**/.bugtags.log
**/settings.gradle
**/.externalNativeBuild
**/lib-gith
**/mod-gith

file/version_desc/version-*

**/build-small
**/smallLibs
**/public.txt

maven/*
!/maven/nothing

gradle/cache/*
