<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modularity.camera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.modularity.view.CameraActivity" />
    </application>
</manifest>